.MuiTableContainer-root .table {
	height: 5rem;
	width: 75vw;
	border: solid 1px #000;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}

.column-header {
	text-align: center;
}

.column-header .header {
	text-align: center;
}

tr, th, td {
	border: solid 1px #000;
}